body {
    background-color: #2b2b2b;
    color: #fff;
    font-family: sans-serif;
    margin: 0;
    padding: 20px;
    line-height: 1.6;
}

h1, h2, h3 {
    color: #fff;
    margin-top: 1em;
    margin-bottom: 0.5em;
}

h1 {
    text-align: center;
    font-size: 2.5rem;
}

h2 {
    font-size: 1.8rem;
    border-bottom: 1px solid #555;
    padding-bottom: 5px;
}

p {
    margin-bottom: 1em;
}

a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.back-link {
    display: block;
    text-align: center;
    margin-top: 40px;
}

